---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

<div id="main" role="main">
  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}
    
    <body>
      <h2>About</h2>
        <p>We are a computational group with a focus on the development of new algorithms and AI models for the analysis of DNA and RNA sequencing data, and biomolecular structures. The group is located at Genome Institute of Singapore (GIS), A*STAR and the <a href="http://bioinfo.zesoi.fer.hr/index.php/en/" target="_blank" style="text-decoration:none;">Faculty of Electrical Engineering and Computing (FER)</a> at the University of Zagreb, Croatia.
      </br>
      </br>
      Besides standard algorithms and data structure on strings and graphs, we use natural language processing, graph neural networks, and reinforcement learning.  
      We aim to develop a state-of-the-art tool for single and metagenome assembly, detection of modified DNA and RNA nucleotides, and metagenomics classification tools.
      Recently we have started research in the field of the analysis of RNA structure.</p>


      <!--   Section can be used for featured blog posts or showcasing research   -->
  <!--     <h2>Latest Posts</h2> 
        {% include feature_row %} -->

    <h2>Areas of Research</h2> 
      {% include grid_row %}

    <aside>
       <h3>Latest News</h3>
       <p>Coming soon ...</p>
    </aside>

    </body>
  </article>
</div>
