---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

<div id="main" role="main">
  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}
    
    <h2>About</h2>
    <h6>
    We are a team working on computational genomics. Our members are located at both Genome Institute of Singapore (GIS), Singapore and Zagreb, Croatia. Our work focuses on the areas: Whole genome sequencing alignment, Sequence alignment, Metagenomics, De novo assembly, DNA modifications, <a href="research/">Deep learning applications</a>
    </h6> 

  <aside class="sidebar__right">
     <h3>Latest News</h3>
     <p>This is aside.</p>
  </aside>

  <h2>Latest Posts</h2>
    <h6>Coming soon ...</h6>
<!--     {% include feature_row %} -->
    
  </article>
</div>

  

